[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest
[submodule "Libraries/random"]
	path = Libraries/random
	url = https://github.com/effolkronium/random
[submodule "Libraries/json"]
	path = Libraries/json
	url = https://github.com/nlohmann/json
[submodule "Libraries/asio"]
	path = Libraries/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog
